parameters:
    level: 8
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    ignoreErrors:
        -
            identifier: missingType.iterableValue
